@import '../../assets/style/main.wxss';
@import '../../assets/style/icon.wxss';
@import '../../assets/style/animation.wxss';

.catitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.058rpx 0;

  .catitems_image {
    flex: 1;
  }
}